

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(200, 128, 64);
    padding: 0 50px;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 60px;
    padding: 2% auto;
   
    
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    height: 100%;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

.menu a:hover {
    color: rgb(51, 51, 51);
    background-color: rgb(234, 224, 196);
    border-radius: 5px;
    font-size: larger;
}

.menu a:active {
    background-color: rgb(234, 224, 196);
    font-weight: bold;
}

#logoPic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 20px 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
    min-height: 60vh;
}
#headFooter{
    margin-bottom: 10px;
}
footer {
    max-height:250px;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
#listFooter{
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 20px 0;
    flex-direction: column;
}
#listFooter a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

footer iframe {
    width: 100%;
    height: 420px;
    max-width: 400px;
    border: 0;
    border-radius: 10px;
}

html {
    scroll-behavior: smooth;
    background-color: bisque;
}