.menu{
    display: flex;
    flex-direction: row;
    width:max-content;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(210, 11, 11);
    padding:15px;
    margin: 7px;
    
    border-radius:10px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu a{
    text-decoration: none;
    color: white;
}
    flex-direction: row;
