.recipiesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* ← בדיוק 3 עמודות שוות */
    gap: 25px;
    padding: 40px;
    max-width: 1400px;
    margin: 0 auto;

}

.recipeCard {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgb(255, 237, 215);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    flex-wrap: wrap;
}

.recipeCard h2 {
    color: #C88040;
    margin-bottom: 10px;
}

.recipeCard p {
    font-size: 1rem;
    color: #333;
    margin: 5px 0;
    text-align: center;
}

.recipeCard img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.recipeCard img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 20px;
}

.overlay:target {
    display: flex;
}

.recipeFull {
    background: rgb(255, 237, 215);
    padding: 20px;
    border-radius: 10px;
    width: 55%;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
}

.recipeFull h1 {
    margin-top: 0;
    color: #C88040;
    text-align: center;
}

.recipeFull h2 {
    color: rgb(161, 90, 27);
    margin-top: 20px;
}

.recipeFull p {
    font-size: 1.5rem;
    color: #555;
    line-height: 1.6;
    text-align: center;
}

.recipeFull img {
    width: 85%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 0 auto 20px auto;
}

.recipeFull ul {
    list-style-type: disc;
    padding-left: 20px;
}

.closeBtn {
    position: sticky;
    top: 0;
    z-index: 1000;
    align-self: flex-start;
    font-size: x-large;
    color: #333;
    text-decoration: none;
}

.closeBtn:hover {
    font-size: larger;
    color: #C88040;
}

.recipeFull ul li {
    margin-bottom: 10px;
}

body {
    background-color: bisque;
}

@media only screen and (max-width: 600px) {

    .recipiesContainer {
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 15px;
    }

    .recipeCard {
        margin: 5px;
        padding: 15px;
    }

    .recipeFull {
        width: 80%;
        padding: 10px;
    }

    .recipeFull h1 {
        font-size: 1.5rem;
    }

    .recipeFull h2 {
        font-size: 1.2rem;
    }

    .recipeFull p {
        font-size: 1rem;
    }

    .closeBtn {
        font-size: 20px;
    }
}