iframe {
<<<<<<< HEAD
    border: none;
}

body {
    font-family: Arial, sans-serif;
    background: #333333;
    padding: 0;
    margin: 0;
}

.subscribe-box {
    max-width: 450px;
    max-height: 400px;
    margin: auto;
    padding: 25px;
    background: #C88040;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 15px;
}

input,
select {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #333333;
    border-radius: 6px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
}

button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    opacity: 0.85;
    color: black;
}

=======

    border: none;

}

body {

    font-family: Arial, sans-serif;

    background: #333333;

    padding: 0;

    margin: 0;
  
}



.subscribe-box {

    max-width: 450px;

    max-height: 400px;

    margin: 0;

    padding: 25px;

    background: #C88040;

    border-radius: 12px;

    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);

    text-align: center;

}



h2 {

    margin-bottom: 15px;

}



input,
select {

    width: 90%;

    padding: 12px;

    margin: 8px 0;

    border: 1px solid #333333;

    border-radius: 6px;

}



.btn-group {

    display: flex;

    justify-content: space-between;

    gap: 10px;

    margin-top: 15px;

}



button {

    flex: 1;

    padding: 12px;

    border: none;

    border-radius: 6px;

    cursor: pointer;

    transition: 0.3s;

}



button:hover {

    background-color: white;

    opacity: 0.85;

    color: black;

}



>>>>>>> 1d11d3eea7b6af2294ae0e3bce301828fbf1ef55
.primary-btn {
    background: #333333;
    color: white;
}

.secondary-btn {
    background: #333333;
    color: white;
}

.reset-btn {
    background: #333333;
    color: white;
}